html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    min-width:320px; overflow-x:hidden;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}
textarea{
    resize:none;
}
.container-top{
    z-index: 10;
    position: relative;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;
}
.logo__title{
    margin: 10px 30px;
}
.wrapper{
    margin: 0;
    padding: 0;
}
input[type="text"], textarea {
    padding: 23px 16px;
}
.mobile{
    display: none;
}
.swiper-button-next,
.swiper-button-prev{
    color: #fff;
    &:hover{
        color: #D3B47F;
    }
}